.MobileWrapper{
  header{
    flexGrow: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.3rem;
    z-index: 3;
    background: limegreen;
  }
  article.main_conent{
    min-height: 510px;
    padding-top: 3.5rem;
    pre {
      margin : 20px;
    }
  }
  footer{
    position: relative;
    width: 100%;
    z-index: 0;
    margin-top: 4.0rem;
    background: #eee;
    border-top: 1px solid #e4e4e4;
    text-align: center;
    padding-bottom:5.5rem;
  }
  /* floating */
  article.floating_menu {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background: coral;
    font-size: 0;
    height: 5.5rem;
  }

}
