/* default */
html{font-size:62.5%; }
html, body{width:100%; height:100%; }
body{font-family:'notokr', sans-serif; -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; -moz-osx-font-smoothing:grayscale; }
body:before{content:''; position:fixed; left:0; top:0; width:100%; height:0; }/* fix webkit bug(scroll event delay) */
body, div, h1, h2, h3, h4, h5, h6, form, fieldset, p, button, iframe, tr, tbody, thead, table, th, td, b, span, strong{margin:0; padding:0; box-sizing:border-box; }
